{% extends "public/base.html" %}
{% block content %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% include "public/header.html" %}
<section class="content">
    <div class="container-fluid p-2">
         
        <div id="alert" class="alert alert-danger alert-dismissible d-flex align-items-center none" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                <h6 class="msg-alert"></h6>
            </div>
        </div>
        <form action="{% if session.grupo != 'ADM' %}{{ url_for('controleGerVigBlue.insertEntradaGer') }}{% else %}{{ url_for('controleGerAdmBlue.insertEntradaGer') }}{% endif %}" onsubmit="return verificaSaidaGerente()" method="POST">
            <div class="row mb-3">
                <div class="col-6">
                    <label for="">Nome:</label>
                    <input type="text" name="gerente" id="gerente" class="form-control upper" autocomplete="off" tabindex="1" required>
                </div>
                <div class="col-3">
                    <label for="">Data Retirada:</label>
                    <input type="date" name="dtEnt" id="dtEnt" class="form-control upper" maxlength="10" autocomplete="off" tabindex="2" value="{{ context.data | dataInput }}" required>
                </div>
                <div class="col-3 mb-3">
                    <label for="">Hora Retirada:</label>
                    <input type="time" name="hrEnt" id="hrEnt" class="form-control upper" autocomplete="off" tabindex="4" value="{{ context.data | horaInput }}" required>
                </div>
            </div>
            <div class="btns">
                {% if session.grupo != 'ADM' %}
                    <a href="{{url_for('controleGerVigBlue.controleGerente')}}" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="10">Cancelar</a>
                {% else %}
                    <a href="{{url_for('controleGerAdmBlue.controleGerente')}}" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="10">Cancelar</a>
                {% endif %}
                <input type="submit" class="btn btn-outline-success" id="btnGravar" value="Incluir" tabindex="9">
            </div>
        </form>
    </div>
</section>
{% block script %}
<script src="{{ url_for('static', filename='js/controleGerente/funcoes.js') }}"></script>
<script>
    $("#gerente").keyup(function(){
        var nomeGer = this.value
        if (nomeGer.length >= 2){
            
            var gerentes=[]
            function carregaGerentes(){
                $.getJSON(`/gerente-pesquisa/${nomeGer}`, function(data, status, xhr){
                    for (var i = 0; i < data.length; i++){
                        gerentes.push(data[i].gerente)
                    }
                });
            }
            carregaGerentes();

            $("#gerente").autocomplete({
                source: gerentes,
            });

            $(".ui-helper-hidden-accessible").css("display", "none")
        }
    })
</script>
{% endblock %}
{% endblock %}