{% extends "public/base.html" %}
{% block content %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% include "public/header.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                window.setTimeout(function() {
                    $("#alert-list").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 10000);
            </script>
            <div class="alert alert-{{ category }} d-flex align-items-center alert-margin" role="alert" id="alert-list">
                {% if category == "success" %}
                    <i class="fa-solid fa-circle-check icon-size"></i>
                {% else %}
                    <i class="fa-solid fa-circle-exclamation icon-size"></i>
                {% endif %}
                <div>
                    <h6 class="msg-alert">{{ message }}</h6>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% include "public/modal/modalLogin.html" %}
{% if context.modal == 1 %}
    {% include "public/modalManutencao/modalExlusaoControleGerente.html" %}
{% endif %}
<section class="content">
    <div class="container-fluid p-0">
        <div class="tabela p-3">
            <div id="lista-gerente-manut"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/controleGerente/dataGerManut.js') }}"></script>
<script src="{{ url_for('static', filename='js/controleGerente/funcoes.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/login/funcaoLogin.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasGerManut,
        data: dadosGerManut,
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-gerente-manut"));
</script>
{% endblock %}