{% extends "public/base.html" %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% include "public/header.html" %}
{% if context.modal == 1 %}
    {% include "public/modalLogManter/modalLogInsertFunc.html" %}
{% elif context.modal == 2 %}
    {% include "public/modalLogManter/modalLogUpdateFunc.html" %}
{% elif context.modal == 3 %}
    {% include "public/modalLogManter/modalLogActiveDeleteFunc.html" %}
{% endif %}
<section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    window.setTimeout(function() {
                        $("#alert-list").fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove(); 
                        });
                    }, 10000);
                </script>
                <div class="alert alert-{{ category }} d-flex align-items-center alert-margin" role="alert" id="alert-list">
                    {% if category == "success" %}
                        <i class="fa-solid fa-circle-check icon-size"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-exclamation icon-size"></i>
                    {% endif %}
                    <div>
                        <h6 class="msg-alert">{{ message }}</h6>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid p-0">
        <div class="acoes p-1 mb-1">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="">Meses Select:</label>
                                <input type="text" class="form-control" id="PAR_LOG_MANT_FUNC"
                                    value="{{ context.meses }}">
                                <button class="btnConfirmParms btn btn-primary btn-sm ml-4 mt-2">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#insert" type="button"
                    role="tab" aria-controls="insert" aria-selected="true"><i class="fa-solid fa-plus"></i>
                    INSERT</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#update" type="button"
                    role="tab" aria-controls="update" aria-selected="false"><i class="fa-solid fa-pen"></i>
                    UPDATE</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#active" type="button"
                    role="tab" aria-controls="active" aria-selected="false"><i class="fa-solid fa-check"></i>
                    ACTIVE</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delete" type="button"
                    role="tab" aria-controls="delete" aria-selected="false"><i class="fa-solid fa-x"></i>
                    DELETE</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="insert" role="tabpanel" aria-labelledby="insert">
                <div class="tabela p-3">
                    <div id="lista-logs-insert"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-update"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-active"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-delete"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/logFuncionario/dataLogInsert.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogFuncInsert,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogFuncInsert), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-insert"));
</script>

<script src="{{ url_for('static', filename='js/logFuncionario/dataLogUpdate.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogFuncUpdate,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogFuncUpdate), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-update"));
</script>

<script src="{{ url_for('static', filename='js/logFuncionario/dataLogActive.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogFuncActive,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogFuncActive), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-active"));
</script>

<script src="{{ url_for('static', filename='js/logFuncionario/dataLogDelete.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogFuncDelete,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogFuncDelete), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-delete"));
</script>
{% endblock %}