{% extends "public/base.html" %}
{% block content %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% include "public/header.html" %}
<section class="content">
    <div class="container-fluid p-2"> 
        <div id="alert" class="alert alert-danger alert-dismissible d-flex align-items-center flex-row none" role="alert">
            <i class="fa-solid fa-circle-exclamation icon-size"></i>
            <div id="msg">
                <h6></h6>
            </div>
        </div>
        <form action="{{ context.action }}" class="container-fluid p-2" onsubmit="return verificaCrachaMaquina()" method="POST">
            <div class="row mb-2">
                <div class="col">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control upper" maxlength="45" autocomplete="off" tabindex="1" value="{% if context.funcionario %}{{ context.funcionario.nome }}{% endif %}" required>
                </div>
                <div class="col-3">
                    <label for="">Crachá:</label>
                    <input type="text" name="cracha" id="cracha" class="form-control upper" maxlength="6" autocomplete="off" tabindex="2" value="{% if context.funcionario %}{{ context.funcionario.cracha }}{% endif %}" required>
                </div>
                <div class="col-5">
                    <label for="">Máquina:</label>
                    <input type="text" name="maquina" id="maquina" class="form-control upper" maxlength="20" autocomplete="off" tabindex="3" value="{% if context.funcionario %}{{ context.funcionario.maquina }}{% endif %}">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-3">
                    <label for="">Gerente:</label>
                    <select type="text" name="gerente" id="gerente" class="form-select form-select-sm border-radius-input select" tabindex="4" required>
                        <option value=""></option>
                        <option {% if context.funcionario %}{% if context.funcionario.gerente == True %}selected{% endif %}{% endif %} value="True">SIM</option>
                        <option {% if context.funcionario %}{% if context.funcionario.gerente == False %}selected{% endif %}{% endif %} value="False">NÃO</option>
                    </select>
                </div>
            </div>
            {% if context.funcionario %}
                <div class="col-1 d-none">
                    <input type="text" name="id" id="id" maxlength="8" autocomplete="off" tabindex="7" value="{% if context %}{{ context.funcionario.id }}{% endif %}">
                </div>
            {% endif %}
            <div class="btns">
                <a href="javascript:history.back()" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="5">Cancelar</a>
                <input type="submit" class="btn btn-outline-success" id="btnGravar" value="{{ context.botao }}" tabindex="6">
            </div>
        </form>
    </div>
</section>
{% block script %}
<script src="{{ url_for('static', filename='js/funcionario/funcoes.js') }}"></script>
{% endblock %}
{% endblock %}