{% extends "public/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% block content %}
{% include "public/header.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                window.setTimeout(function() {
                    $("#alert-list").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 10000);
            </script>
            <div class="alert alert-{{ category }} d-flex align-items-center alert-margin" role="alert" id="alert-list">
                {% if category == "success" %}
                    <i class="fa-solid fa-circle-check icon-size"></i>
                {% else %}
                    <i class="fa-solid fa-circle-exclamation icon-size"></i>
                {% endif %}
                <div>
                    <h6 class="msg-alert">{{ message }}</h6>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% include "public/modal/modalExclusao.html" %}
{% if context.modal == 1 %}
    {% include "public/modal/modalIntegracao.html" %}
{% endif %}
<section class="content">
    <div class="container-fluid p-0">
        <div class="d-flex justify-content-between p-1 mb-3">
            <div class="botao">
                <div class="botao">
                    <a href="{{url_for('funcionarioAdmBlue.listaFuncionariosAdmModalIntegracao')}}" class="btn btn-outline-success">Atualizar base</a>
                </div>
            </div>
            <div class="botao">
                <div class="botao">
                    <a href="{{url_for('funcionarioAdmBlue.cadastroFuncionarioAdm')}}" class="btn btn-outline-success">Incluir Funcionário</a>
                </div>
            </div>
        </div>
        <div class="tabela p-3">
            <div id="lista-funcionarios"></div>
        </div>
        <!-- <input type="text" id="filter-text-box" placeholder="Filter..." oninput="onFilterTextBoxChanged()">
        <div id="myGrid" class="ag-theme-alpine"></div> -->
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/funcionario/dataFunc.js') }}"></script>
<script src="{{ url_for('static', filename='js/funcionario/funcoes.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasFunc,
        data: dadosFunc,
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true,
    }).render(document.getElementById("lista-funcionarios"));
</script>
<!-- <script>

    // let the grid know which columns and what data to use
    const gridOptions = {
        defaultColDef: {
            sortable: true,
            filter: true,
            flex: 1,
            minWidth: 100,
        },
        columnDefs: colunasFunc,
        rowData: dadosFunc,
        pagination: true,
        paginationAutoPageSize: true,
        cacheQuickFilter: true,
        domLayout: 'autoHeight',
        paginationPageSize: 10
    };

    function onFilterTextBoxChanged() {
        gridOptions.api.setQuickFilter(
            document.getElementById('filter-text-box').value
        );
    }

    const gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
</script>  -->
{% endblock %}