<section class="modal-alert">
    <div class="modal-dialog modal-xl terc" id="modal-terc">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Saída de Terceiro</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="alert" id="alert-modal" style="display: none; margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;" role="alert">
                    </div>
                    <div class="row">
                        <div class="col mb-1 d-none">
                            <input type="text" name="idMov" id="idMov" class="form-control upper" value="{{ context.movimento.id }}" readonly>
                        </div>
                        <div class="col-8 mb-1">
                            <label for="recipient-name" class="col-form-label">Nome:</label>
                            <input type="text" name="nomeTerc" id="nomeTerc" class="form-control upper" value="{{ context.movimento.terceiro.nome }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">CPF:</label>
                            <input type="text" name="tercCpf" id="tercCpf" class="form-control upper" value="{{ context.movimento.terceiro.cpf | cpf }}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 mb-1">
                            <label for="recipient-name" class="col-form-label">Empresa:</label>
                            <input type="text" name="empresa" id="empresa" class="form-control" value="{{ context.movimento.empresa }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Veículo:</label>
                            <input type="text" name="veiculo" id="veiculo" class="form-control" value="{{ context.movimento.veiculo }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Placa:</label>
                            <input type="text" name="placa" id="placa" class="form-control" value="{{ context.movimento.placa }}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1 d-none">
                            <input type="text" name="cracha" id="cracha" class="form-control upper" value="{{ context.movimento.pessoaVisit.cracha }}" readonly>
                        </div>
                        <div class="col-5 mb-1">
                            <label for="recipient-name" class="col-form-label">Pessoa Visitada:</label>
                            <input type="text" name="pessoaVisit" id="pessoaVisit" class="form-control" value="{{ context.movimento.pessoaVisit.nome }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Motivo:</label>
                            <input type="text" name="motivo" id="motivo" class="form-control" value="{{ context.movimento.motivo }}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Data Entrada:</label>
                            <input type="date" name="dataEnt" id="dataEnt" class="form-control" value="{{ context.movimento.dataEnt | dataInput }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Hora Entrada:</label>
                            <input type="time" name="horaEnt" id="horaEnt" class="form-control" value="{{ context.movimento.horaEnt }}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <label for="recipient-name" class="col-form-label">Data Saída:</label>
                            <input type="date" name="dataSaid" id="dataSaid" class="form-control" value="{{ context.dataAtual | dataInput }}" required>
                        </div>
                        <div class="col mb-2">
                            <label for="recipient-name" class="col-form-label">Hora Saída:</label>
                            <input type="time" name="horaSaid" id="horaSaid" class="form-control" value="{{ context.dataAtual | horaInput }}" tabindex="25" required>
                        </div>
                    </div>
                    {% if context.movimento.acomps | length > 0 %}
                        <div class="row" id="check">
                            <div class="col mb-1">
                                <label for="recipient-name" class="col-form-label">Mostrar acompanhantes?</label>
                                <input type="checkbox" value="False" name="checkResp"  id="checkResp" onclick="ativaAcompanhantes(this)">
                            </div>
                        </div>
                        <div class="row" id="inputResp" style="display: none;">
                            {% for acompanhante in context.movimento.acomps %}
                                <div class="row">
                                    <div class="col">
                                        <label for="respDev" class="col-form-label">Nome:</label>
                                        <input type="text" name="respDev" id="respDev" class="form-control upper" value="{{ acompanhante.nome }}" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="respDev" class="col-form-label">CPF:</label>
                                        <input type="text" name="cpfAcomp" id="cpfAcomp" class="form-control upper" value="{{ acompanhante.cpf | cpf }}" readonly>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                {% if session.grupo != 'ADM' %}
                    <a href="{{url_for('controleTercVigBlue.controleTerceiro')}}" class="btn btn-outline-danger">Cancelar</a>
                {% else %}
                    <a href="{{url_for('controleTercAdmBlue.controleTerceiro')}}" class="btn btn-outline-danger">Cancelar</a>
                {% endif %}
                <button type="button" class="btn btn-outline-success" id="btnEnviarDev">Confirmar</button>
            </div>
        </div>
    </div>
</section>
{% block script %}
<script>
    function ativaAcompanhantes(radio){
        var input = document.getElementById("inputResp");
        var modal = document.getElementById("modal-terc");

        if (radio.checked) {
            radio.value = "True"
            modal.classList.add("modal-dialog-scrollable")
            input.style.display = "block";
        }else{
            radio.value = "False"
            modal.classList.remove("modal-dialog-scrollable")
            input.style.display = "none";
        }
    }
</script>
<script>
    $("#respDev").keyup(function(){
        var nomeResp = this.value
        if (nomeResp.length > 2){
            
            var responsaveis=[]
            function carregaResponsaveis(){
                $.getJSON(`/funcionario-pesquisa/${nomeResp}`, function(data, status, xhr){
                    for (var i = 0; i < data.length; i++){
                        responsaveis.push(data[i].funcionario)
                    }
                });
            }
            carregaResponsaveis();
            

            $("#respDev").autocomplete({
                source: responsaveis,
            });

            $(".ui-helper-hidden-accessible").css("display", "none")
        }
    })
</script>
<script type="text/javascript">
    {% if session.grupo == 'ADM' %}
        let url = "{{url_for('controleTercAdmBlue.insertSaidaTerc')}}"
        let dest = "{{url_for('controleTercAdmBlue.controleTerceiro')}}"
    {% else %}
        let url = "{{url_for('controleTercVigBlue.insertSaidaTerc')}}"
        let dest = "{{url_for('controleTercVigBlue.controleTerceiro')}}"
    {% endif %}

    $(document).ready(function(){
        $("#btnEnviarDev").click(function(){
            let inputsData = [];
            let inputs = document.querySelectorAll('input[id^="cpf"]');
            let dataEnt = new Date($("#dataEnt").val());
            let dataSai = new Date($("#dataSaid").val());
            let horaEnt = $("#horaEnt").val();
            let horaSai = $("#horaSaid").val();

            inputs.forEach((input) => {
                inputsData.push({"cpf": input.value});
            });

            if (dataEnt.getTime() > dataSai.getTime()){
                $("#alert-modal").prop("style").removeProperty("opacity");
                $("#alert-modal").empty();
                $("#alert-modal").removeClass();
                $("#alert-modal").append("Data de saída menor que a data de entrada!");
                $("#alert-modal").addClass("alert alert-danger alert-dismissible fade show");
                $("#alert-modal").show();
                window.setTimeout(() => {
                    $("#alert-modal").fadeTo(500, 0).slideUp(500, () => {});
                }, 3500);

            } else if (dataEnt.getTime() == dataSai.getTime() && horaSai < horaEnt){
                $("#alert-modal").prop("style").removeProperty("opacity");
                $("#alert-modal").empty();
                $("#alert-modal").removeClass();
                $("#alert-modal").append("Hora de saída menor que a hora de entrada!");
                $("#alert-modal").addClass("alert alert-danger alert-dismissible fade show");
                $("#alert-modal").show();
                window.setTimeout(() => {
                    $("#alert-modal").fadeTo(500, 0).slideUp(500, () => {});
                }, 3500);

            }else{
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data:JSON.stringify({
                        idMov: $("#idMov").val(),
                        dataSaid: $("#dataSaid").val(),
                        horaSaid: $("#horaSaid").val(),
                        cpf: $("#tercCpf").val(),
                        cracha: $("#cracha").val(),
                        acomps: inputsData,
                    }),
                    success: function(data, status){
                        window.location=dest
                    },
                    error: function(data, status){
                        var h6 = data.responseJSON.msg;
                        $("#alert").prop("style").removeProperty("opacity");
                        $("#alert").empty();
                        $("#alert").removeClass();
                        $("#alert").append(h6);
                        $("#alert").addClass("alert alert-danger alert-dismissible fade show");
                        $("#alert").show();
                        window.setTimeout(function() {
                            $("#alert").fadeTo(500, 0).slideUp(500, function(){});
                        }, 15000);
                    },
                });
            }
            
        });
    });
</script>
{% endblock %}
