{% extends "public/base.html" %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% include "public/header.html" %}
{% if context.modal == 1 %}
    {% include "public/modalLogManter/modalLogMensagem.html" %}
{% endif %}
<section class="content">
    <div class="container-fluid p-0">
        <div class="acoes p-2" >
            <div class="dropdown">
                <a class="btn btn-secondary dropdown" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="">Meses Select:</label>
                                <input type="text" class="form-control" id="PAR_LOG_MENSAGEM"
                                    value="{{ context.meses }}">
                                <button class="btnConfirmMeses btn btn-primary btn-sm ml-4 mt-2">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="tabela p-3 m-2">
            <div id="lista-logs-mensagem"></div>
        </div>
    </div>
</section>
{% block script %}
<script src="{{ url_for('static', filename='js/logMensagem/dataLogMen.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogMen,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogMen), 2000);
            });
        },
        search: true,
        sort: true,
        pagination: true,
    }).render(document.getElementById("lista-logs-mensagem"));
</script>
{% endblock %}
{% endblock %}