<section class="modal-alert">
    <div class="modal-dialog modal-xl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                </div>
                {% if session.grupo != 'ADM' %}
                    <form action="{{url_for('controleGerVigBlue.exclirMovimentoGerente')}}" method="POST" onsubmit="return verificaObservacao(observacaoExcluir)">
                {% else %}
                    <form action="{{url_for('controleGerAdmBlue.exclirMovimentoGerente')}}" method="POST">
                {% endif %}
                        <div class="modal-body">
                            <div id="alert-excluir" class="alert alert-danger alert-dismissible d-flex align-items-center none" role="alert">
                                <i class="fa-solid fa-circle-exclamation icon-size"></i>
                                <h6 class="msg-alert">Observação precisa ter mais que 15 caracteres.</h6>
                            </div>
                            <div class="mb-3">
                                <span class="msg-obs">Deseja realmente excluir a entrada/saída do(a) gerente {{ context.movimento.gerente.nome }} ?</span>
                            </div>
                            <input class="d-none" type="text" name="idExcluir" id="idExcluir" value="{{ context.movimento.id }}">
                            <input class="d-none" type="text" name="crachaGer" id="crachaGer" value="{{ context.movimento.gerente.cracha }}">
                            {% if session.grupo != 'ADM' %}
                                <div class="row">
                                    <span class="obs-alert">* Observação deve ser preenchida</span>
                                    <div class="col">
                                        <label for="">Observação:</label>
                                        <textarea class="form-control upper" id="observacaoExcluir" name="observacaoExcluir" rows="3" cols="50" maxlength="120"></textarea>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row d-none">
                                    <div class="col">
                                        <label for="">Observação:</label>
                                        <textarea class="form-control upper" id="observacaoExcluir" name="observacaoExcluir" rows="3" cols="50" maxlength="120"></textarea>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer justify-content-between">
                            {% if session.grupo != 'ADM' %}
                                <a href="{{url_for('controleGerVigBlue.manutencaoGerente')}}" class="btn btn-outline-primary">Cancelar</a>
                            {% else %}
                                <a href="{{url_for('controleGerAdmBlue.manutencaoGerente')}}" class="btn btn-outline-primary">Cancelar</a>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-danger">Excluir</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>