section.modal-alert {
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    z-index: 999999;
    pointer-events: auto;
}

.modal-xl{
    width: 60rem !important;
}

.terc{
    width: 65rem !important;
}

.obs-alert{
    color: #910000;
    font-size: 13px;
}

.msg-obs{
    font-size: 20px;
}

.scroll{
    overflow-y: visible !important;
}

/* Inicio Modal para integração*/
    section.modal-alert div#card-alert {
        width: auto;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 2rem;
    }

    section.modal-alert div#loader {
        width: 25rem;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 2rem;
    }

    section.modal-alert div#loader h2 {
        font-size: 30px;
        color: #000;
    }

    section.modal-alert div#loader hr {
        width: 95%;
    }

    section.modal-alert div#loader p {
        font-size: 15px;
    }
/* Termino Modal para integração*/


.container-border{
    border: 1px groove #ddd !important;
    margin: 0 2.5em 0 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000; 
    height: auto;
}

.titulo-container{
    font-size: 1.1em !important;
    text-align: left !important;
    margin-bottom: -15px;
    padding: 55px -10px 15px 15px;
    width: auto;
    position: relative;
}

.campo-alterado-label{
    font-size: 13px;
    color: #910000;
}

.campo-alterado-label-senha{
    font-size: 20px;
    color: #910000;
    margin-bottom: 0.5rem;
}