.acoes {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.5rem;
}

.pesquisa {
    display: flex;
    flex-direction: row;
}

.input-pesquisa {
    margin-left: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid #b1b1b1;
    text-transform: uppercase;
}

.tabela {
    background-color: #D9D9D9;
}

.ver-senha {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.select {
    height: 2.4rem;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gs-table {
    font-size: 14px;
}

.gs-table-head {
    background-color: #343A40;
    color: #ffffff;
}

.gs-table-body tr:nth-child(even) {
    background: #e4e3e3;
}

.alert-margin{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.none{
    display: none !important;
}