.teste{
    height: 100vh;
    bottom: 0;
}

.teste h3{
    margin-bottom: 0;
}

.user-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin-right: 0.2rem;
}

.user-menu h6{
    font-size: 15px;
    font-weight: 700;
}

#logout{
    background-color: #dc3545;
    padding: 8px 5px 8px 8px;
    color: #fff;
    border: 1px solid #dc3545;
    border-radius: 5px;
    margin-left: 0.5rem;
}

#logout:hover{
    background-color: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
}

.icon-space{
    margin-right: 0.5rem;
    font-size: 20px;
}

.font-icon{
    font-size: 18px;
}

.font-p{
    font-size: 20px;
}

.data-hora{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upper{
    text-transform: uppercase;
}

.form-group{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
}

.form-group input{
    padding-left: 30px !important;
}

.form-group i{
    position: absolute;
    z-index: 9999;
    padding-left: 8px;
    color: #000000ab
}

.ui-menu{
    background-color: #ffffff;
    list-style: none;
    width: 2rem;
    padding: 2px 2px 2px 5px;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid #000000;
    z-index: 999999999999999;
}

.ui-menu li:hover{
    background-color: #a1a1a1;
    padding: 2px 2px 2px 5px;
    border-radius: 0 0 0.5rem 0.5rem;
}

.ui-menu li:focus{
    background-color: #a1a1a1;
    border-radius: 0 0 0.5rem 0;
}

.header-titulo{
    font-weight: 600;
}

.icone-ativo{
    color: #33961f;
}

.icone-inativo{
    color: #dc3545;
}

.msg-alert{
    font-weight: 500;
    font-size: 18px;
}

.btn-group{
    background-color: #f4f6f9;
}

.icon-size{
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

#alert-modal-login{
    flex-direction: row !important;
}