*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: #343a40;
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-form{
    display: flex;
    width: 20rem;
    height: auto;
    background-color: #ffffff;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.head-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-login{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    background-color: #ff000050;
    border-radius: 0.5rem;
    border: 1.5px solid #701111;
    color: #701111;
}

.icon-alert{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.body-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.4rem;
}

.btn-ok{
    width: 14.3rem;
}

.btn-login{
    width: 100%;
}

.footer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.footer-card a{
    text-decoration: none;
}

.footer-card a:hover{
    color: #123c8a;
}

.footer-card a:hover div.barra{
    width: 7.5rem;
}

.barra{
    background-color: #123c8a;
    width: 0rem;
    height: 0.2rem;
    border-radius: 8px;
    transition: 500ms ease-in; 
}

section.modal-form{
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed; 
    display: flex;
    z-index: 999999;
    pointer-events: auto;
}

section.modal-form div#card-form{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
}

section.modal-form div#card-form h2{
    color: #000;
    padding: 0.3rem;
    font-size: 25px;
    float: right;
}

section.modal-form div#card-form hr{
    width: 95%;
}

section.modal-form div#card-form div#inputs{
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    padding: 15px;
    width: 25rem;
}


section.modal-form div#card-form div#btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

section.modal-form div#card-form div#btns input.btn-primary{
    margin-right: 10rem;
}

.form-group{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
}

.form-group input{
    padding-left: 30px !important;
}

.form-group i{
    position: absolute;
    z-index: 9999;
    padding-left: 8px;
    color: #000000ab
}

.upper{
    text-transform: uppercase;
}

.icon-margin{
    margin-right: 0.5rem;
}

@media (max-width: 600px) {
    .card-form{
        display: flex;
        width: 8rem;
        height: 10rem;
        background-color: aliceblue;
        border-radius: 1rem;
    }
}

.obs{
    font-size: 12px;
    color: #bb0000;
    padding-bottom: 0.4rem;
    padding-top: 1rem;
    font-weight: bold;
}