<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleError.css') }}">
</head>
<body>
    <div id="error">Erro</div>
    <div class="error-num-500">500
        <div class="error-num-500__clip">500</div>
    </div>
    <p id="desc">Erro no Servidor. Contate o setor de T.I</p>
    {% if session.grupo == 'ADM' %}
        <p class="link">Volte para o <a href="{{url_for('dashAdmBlue.dashboardAdm')}}">Menu</a></p>
    {% elif session.grupo == 'ETC' %}
        <p class="link">Volte para o <a href="{{url_for('dashTecBlue.dashboardTec')}}">Menu</a></p>
    {% else %}
        <p class="link">Volte para o <a href="{{url_for('dashVigBlue.dashboardVig')}}">Menu</a></p>
    {% endif %}
</body>
</html>