{% extends "public/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleControleTerceiro.css') }}">
{% endblock %}
{% block content %}
{% include "public/header.html" %}
<section class="content">
    <div class="container-fluid p-2">
        <div id="alert" class="alert alert-danger alert-dismissible d-flex align-items-center none" role="alert">
            <div id="msg">
                <h6></h6>
            </div>
        </div>
        <form action="{% if session.grupo != 'ADM' %}{{ url_for('terceiroVigBlue.insertTerceiro') }}{% else %}{{ url_for('terceiroAdmBlue.insertTerceiro') }}{% endif %}" onsubmit="return verificaCpf(cpf)" method="POST">
            <div class="row mb-3">
                <div class="col-2">
                    <label for="">Código:</label>
                    <input type="text" name="codigo" id="codigo" class="form-control upper" autocomplete="off" value="{{ context.codigo }}" required readonly>
                </div>
                <div class="col-6">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control upper" maxlength="45" autocomplete="off" tabindex="1" required>
                </div>
                <div class="col-4 mb-3">
                    <label for="" class="cpf">CPF:</label>
                    <span class="alerta-cpf none">*CPF inválido</span>
                    <input type="text" name="cpf" id="cpf" class="form-control upper" maxlength="14" autocomplete="off" tabindex="2" oninput="formatCPF()" required>
                </div>
            </div>
            <div class="btns">
                {% if session.grupo != 'ADM' %}
                    <a href="{{url_for('terceiroVigBlue.listaTerceiros')}}" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="4">Cancelar</a>
                {% else %}
                    <a href="{{url_for('terceiroAdmBlue.listaTerceiros')}}" class="btn btn-outline-danger" type="button" name="btnCancelar" id="btnCancelar" tabindex="4">Cancelar</a>
                {% endif %}
                <input type="submit" class="btn btn-outline-success" id="btnGravar" value="Incluir" tabindex="3">
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/terceiro/funcoes.js') }}"></script>
<script src="{{ url_for('static', filename='js/ControleTerceiro/funcoes.js') }}"></script>
<script>
    let intervalId = null;

    $('#cpf').focus(function(){
        intervaalId = setInterval(() => {
            const inputsCPF = document.querySelectorAll('#cpf');
            inputsCPF.forEach((input) => {
                verificaCpfDiv(input); 
            });
        }, 500);
    });

    document.getElementById("cpf").addEventListener('blur', () => {
        clearInterval(intervalId);
    });
</script>
{% endblock %}