{% extends "public/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% block content %}
{% include "public/header.html" %}
{% if context.modal == 1 %}
    {% include "public/modalLogControle/modalLogControlGerEnt.html" %}
{% elif context.modal == 2 %}
    {% include "public/modalLogControle/modalLogControlGerSai.html" %}
{% elif context.modal == 3 %}
    {% include "public/modalLogControle/modalLogControlGerUp.html" %}
{% elif context.modal == 4 %}
    {% include "public/modalLogControle/modalLogControlGerDel.html" %}
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                window.setTimeout(function() {
                    $("#alert-list").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 10000);
            </script>
            <div class="alert alert-{{ category }} d-flex align-items-center alert-margin" role="alert" id="alert-list">
                {% if category == "success" %}
                    <i class="fa-solid fa-circle-check icon-size"></i>
                {% else %}
                    <i class="fa-solid fa-circle-exclamation icon-size"></i>
                {% endif %}
                <div>
                    <h6 class="msg-alert">{{ message }}</h6>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<section class="content">
    <div class="container-fluid p-0">
        <div class="acoes">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="">Meses Select:</label>
                                <input type="text" class="form-control" id="PAR_MANUT_CONTROL_GER"
                                    value="{{ context.meses }}">
                                <button class="btnConfirmParms btn btn-primary btn-sm ml-4 mt-2">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#entrada" type="button"
                    role="tab" aria-controls="entrada" aria-selected="true">
                    ENTRADA</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#saida" type="button"
                    role="tab" aria-controls="saida" aria-selected="false">
                    SAÍDA</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#update" type="button"
                    role="tab" aria-controls="update" aria-selected="false">
                    UPDATE</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delete" type="button"
                    role="tab" aria-controls="delete" aria-selected="false">
                    DELETE</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="entrada" role="tabpanel" aria-labelledby="entrada">
                <div class="tabela p-3">
                    <div id="lista-logs-entrada"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="saida" role="tabpanel" aria-labelledby="saida">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-saida"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-update"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-delete"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/logControleGer/dataLogEnt.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlGerEnt,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlGerEnt), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-entrada"));
</script>

<script src="{{ url_for('static', filename='js/logControleGer/dataLogSai.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlGerSai,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlGerSai), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-saida"));
</script>

<script src="{{ url_for('static', filename='js/logControleGer/dataLogUpdate.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlGerUp,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlGerUp), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-update"));
</script>

<script src="{{ url_for('static', filename='js/logControleGer/dataLogDelete.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlGerDel,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlGerDel), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-delete"));
</script>
{% endblock %}