{% extends "public/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleUsuarios.css') }}">
{% endblock %}
{% block content %}
{% include "public/header.html" %}
{% if context.modal == 1 %}
    {% include "public/modalLogManter/modalLogInsertChave.html" %}
{% elif context.modal == 2 %}
    {% include "public/modalLogManter/modalLogUpdateChave.html" %}
{% elif context.modal == 3 %}
    {% include "public/modalLogManter/modalLogActiveDeleteChave.html" %}
{% endif %}
<section class="content">
    <div class="container-fluid p-0">
        <div class="acoes">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-sliders"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="">Meses Select:</label>
                                <input type="text" class="form-control" id="PAR_MANUT_CONTROL_CHAV"
                                    value="{{ context.meses }}">
                                <button class="btnConfirmMeses btn btn-primary btn-sm ml-4 mt-2">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#entrada" type="button"
                    role="tab" aria-controls="entrada" aria-selected="true">
                    ENTRADA</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#saida" type="button"
                    role="tab" aria-controls="saida" aria-selected="false">
                    SAÍDA</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#update" type="button"
                    role="tab" aria-controls="update" aria-selected="false">
                    UPDATE</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#delete" type="button"
                    role="tab" aria-controls="delete" aria-selected="false">
                    DELETE</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="entrada" role="tabpanel" aria-labelledby="entrada">
                <div class="tabela p-3">
                    <div id="lista-logs-entrada"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="saida" role="tabpanel" aria-labelledby="saida">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-saida"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-update"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete">
                <div class="tabela p-3 m-2">
                    <div id="lista-logs-delete"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/logControleTerc/dataLogEnt.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlTercEnt,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlTercEnt), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-entrada"));
</script>

<script src="{{ url_for('static', filename='js/logControleTerc/dataLogSai.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlTercSai,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlTercSai), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-saida"));
</script>

<script src="{{ url_for('static', filename='js/logControleTerc/dataLogUpdate.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlTercUp,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlTercUp), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-update"));
</script>

<script src="{{ url_for('static', filename='js/logControleTerc/dataLogDelete.js') }}"></script>
<script>
    new gridjs.Grid({
        columns: colunasLogControlTercDel,
        data: () => {
            return new Promise(resolve => {
                setTimeout(() => resolve(dadosLogControlTercDel), 2000);
            });
        },
        search: true,
        sort: true,
        paginationAutoPageSize: true,
        pagination: true,
        suppressPaginationPanel: true
    }).render(document.getElementById("lista-logs-delete"));
</script>
{% endblock %}