<section class="modal-alert">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log DEVOLUÇÃO</h5>
            </div>
            <div class="alert" id="alert-modal" style="display: none; margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;" role="alert">
            </div>
            <div class="modal-body overflow-scroll">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-2">
                            <label for="recipient-name" class="col-form-label">Ação:</label>
                            <input type="text" name="gerente" id="gerente" class="form-control upper" value="{{ context.log.acao }}" readonly>
                        </div>
                        <div class="col-3">
                            <label for="recipient-name" class="col-form-label">Data:</label>
                            <input type="text" name="dataEnt" id="dataEnt" class="form-control" value="{{ context.log.dataHora | dataTime }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Responsável:</label>
                            <input type="text" name="horaEnt" id="horaEnt" class="form-control" value="{{ context.log.usuario.nome }}" readonly>
                        </div>
                    </div>
                    <label class="titulo-container">Chave Devolução:</label>
                    <div class="container container-border mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Chave:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.chave.nome }}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Resposável Devolução:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.respDev.nome }}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Data Devolução:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.dataDev | dataLimite }} " readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Hora Devolução:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.horaDev }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="javascript:history.back()" class="btn btn-outline-danger">Voltar</a>
            </div>
        </div>
    </div>
</section>
