<section class="modal-alert">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log UPDATE</h5>
            </div>
            <div class="alert" id="alert-modal" style="display: none; margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;" role="alert">
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-2">
                            <label for="recipient-name" class="col-form-label">Ação:</label>
                            <input type="text" name="gerente" id="gerente" class="form-control upper" value="{{ context.log.acao }}" readonly>
                        </div>
                        <div class="col-3">
                            <label for="recipient-name" class="col-form-label">Data:</label>
                            <input type="text" name="dataEnt" id="dataEnt" class="form-control" value="{{ context.log.dataHora | dataTime }}" readonly>
                        </div>
                        <div class="col mb-1">
                            <label for="recipient-name" class="col-form-label">Responsável:</label>
                            <input type="text" name="horaEnt" id="horaEnt" class="form-control" value="{{ context.log.usuario.nome }}" readonly>
                        </div>
                    </div>
                    <label class="titulo-container">Observação:</label>
                    <div class="container mb-3">
                        <div class="row">
                            <textarea class="form-control" cols="30" rows="2" readonly>{{ context.log.observacao }}</textarea>
                        </div>
                    </div>
                    <label class="titulo-container">Dados Antigos:</label>
                    <div class="container container-border mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="recipient-name" class="col-form-label">Crachá:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.gerente.cracha }}" readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Nome:</label>
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.gerente.nome }}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Data Entrada:</label>
                                {% if context.log.dadosAntigos.dataEnt != context.log.dadosNovos.dataEnt %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.dataEnt | dataLimite }}" readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Hora Entrada:</label>
                                {% if context.log.dadosAntigos.horaEnt != context.log.dadosNovos.horaEnt %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.horaEnt }}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Data Saída:</label>
                                {% if context.log.dadosAntigos.dataSai != context.log.dadosNovos.dataSai %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.dataSai | dataLimite }}" readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Hora Saída:</label>
                                {% if context.log.dadosAntigos.horaSai != context.log.dadosNovos.horaSai %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosAntigos.horaSai }}" readonly>
                            </div>
                        </div>
                    </div>
                    <label class="titulo-container">Dados Novos:</label>
                    <div class="container container-border mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Data Entrada:</label>
                                {% if context.log.dadosNovos.dataEnt != context.log.dadosAntigos.dataEnt %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.dataEnt | dataLimite }}" readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Hora Entrada:</label>
                                {% if context.log.dadosNovos.horaEnt != context.log.dadosAntigos.horaEnt %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.horaEnt }}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Data Saída:</label>
                                {% if context.log.dadosNovos.dataSai != context.log.dadosAntigos.dataSai %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.dataSai | dataLimite }}" readonly>
                            </div>
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Hora Saída:</label>
                                {% if context.log.dadosNovos.horaSai != context.log.dadosAntigos.horaSai %}
                                    <span class="campo-alterado-label">* Campo Alterado</span>
                                {% endif %}
                                <input type="text" name="dataSai" id="dataSai" class="form-control" value="{{ context.log.dadosNovos.horaSai }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="javascript:history.back()" class="btn btn-outline-danger">Voltar</a>
            </div>
        </div>
    </div>
</section>
